<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Vue+Mongo+Swagger Test</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@v2.0.0-rc.11/dist/bootstrap-vue.css" />

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@v2.0.0-rc.11/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <style>

    .navbar-light .navbar-brand {
      color: #2e5b6e;
    }

    .list-group-item,
    .table td,
    .table th {
      padding: .5rem;
    }

    .my-0 {
      margin: .125rem 0 !important;
    }

    .m-0 {
      margin: .125rem !important;
    }

    .test1 {
      background-color: silver
    }

    .test2 {
      background-color: gray
    }
  </style>

</head>

<body>
  <div id="app">

    <!-- Clients form (main) -->
    <b-container>

      <b-row align-v="center" class="justify-content-md-center">
        <b-col cols="12" md="10">
          <b-navbar type="light" variant="light">

            <!-- Clients form caption -->
            <b-navbar-brand>Clients</b-navbar-brand>

            <!-- New Client button -->
            <b-navbar-nav right>
              <b-button variant="success" class="my-0" @click="showNewClientDialog" right>
                <i class="fas fa-plus"></i>
                New Client
              </b-button>
            </b-navbar-nav>
          </b-navbar>

          <!-- Clients table -->
          <b-table :items="model.clients" :fields="fields" :sort-desc=true bordered hover 
            class="mt-2" @row-clicked="rowClicked" @row-dblclicked="showEditClientDialog" show-empty>
            <div slot="actions" slot-scope="row" class="text-center">

              <b-button variant="warning" class="my-0" @click="showEditClientDialog">
                <i class="far fa-edit"></i>
                Edit
              </b-button>

              <b-button v-b-modal.delete-client-confirm-dialog variant="danger" class="my-0">
                <i class="far fa-trash-alt"></i>
                Delete
              </b-button>

            </div>
          </b-table>

        </b-col>
      </b-row>
    </b-container>

    <!-- Dialogs -->

    <!-- New client dialog -->
    <b-modal v-model="newClientDialogVisible" size="lg" title="New Client" header-border-variant="success"
      ok-title="Add Client" centered @shown="focusRef($refs.nameRef)" @ok="addClient" ref="newClientDialog">

      <!-- <client-form></client-form> -->

      <b-form id="client-form">
        <b-form-row align-h="center">
          <b-col cols="11">
            <b-form-group horizontal label="Name:" :state="nameState" :invalid-feedback="nameInvalidFeedback"
              label-class="text-sm-right" label-for="name">
              <b-form-input id="name" :state="nameState" v-model.trim="model.client.name" ref="nameRef"
                placeholder="Client name"></b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Email:" :state="emailState" :invalid-feedback="emailInvalidFeedback"
              label-class="text-sm-right" label-for="email">
              <b-form-input id="email" :state="emailState" v-model.trim="model.client.email" placeholder="Client email">
              </b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Phone:" label-class="text-sm-right" label-for="phone">
              <b-form-input id="phone" v-model="clientPhone" :formatter="formatPhone" placeholder="Client phone">
              </b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Providers:" label-class="text-sm-right" label-for="phone">
              <b-form-row>
                <b-col cols="8" style="padding-right: 0.25em">
                  <b-form-input id="providers" v-model="model.providersStr" readonly></b-form-input>
                </b-col>
                <b-col cols="4" style="padding-left: 0">
                  <b-button id="new-provider-button-collapse" v-b-toggle.new-provider-collapse block variant="success"
                    :pressed="newProviderVisible">
                    <i v-if="!newProviderVisible" class="fas fa-plus"></i>
                    <i v-else class="fas fa-minus"></i>
                    New Provider
                  </b-button>
                </b-col>
                <b-col cols="12">
                  <b-collapse id="new-provider-collapse" v-model="newProviderVisible" class="mt-1"
                    @shown="focusRef($refs.newProviderRef)">
                    <b-card>
                      <b-form>
                        <b-form-group label="Name:" label-cols=2 label-class="text-sm-right" label-for="name" horizontal
                          description="Enter a name for the new provider" invalid-feedback="This field is required">
                          <b-form-input id="name" v-model="newProviderName" ref="newProviderRef" type="text"
                            placeholder="New provider name"></b-form-input>
                        </b-form-group>
                        <b-button class="ml-1 float-right" :disabled="!newProviderName" variant="primary"
                          @click="addProvider">
                          Add Provider
                        </b-button>
                      </b-form>
                    </b-card>
                  </b-collapse>
                </b-col>

                <!-- Providers list -->
                <b-col cols="8" class="mt-1" style="padding-right: 0.25em">
                  <b-card no-body>

                    <b-list-group class="mt-1" flush>

                      <b-list-group-item v-for="(provider, index) in model.providers" :key="provider.id">
                        <b-form-row>

                          <!-- Checkbox -->
                          <b-col class="align-self-center" block>
                            <b-form-checkbox :id="`checkbox${provider.id}`" v-show="!provider.editing"
                              :value="provider.id" v-model="selectedProviders">
                              {{provider.name}}
                            </b-form-checkbox>
                          </b-col>

                          <!-- Toggle buttons -->
                          <b-col class="text-right col-auto">

                            <!-- Edit provider button -->
                            <b-button v-b-tooltip.hover title="Edit this provider" class="my-0" variant="warning"
                              :pressed="provider.editing" v-b-toggle="`edit-provider-collapse-${provider.id}`">
                              <i class="far fa-edit"></i>
                            </b-button>

                            <!-- Delete provider button -->
                            <b-button v-b-tooltip.hover title="Delete this provider" class="my-0" variant="danger"
                              :pressed="provider.deleting" v-b-toggle="`delete-provider-collapse-${provider.id}`">
                              <i class="far fa-trash-alt"></i>
                            </b-button>

                          </b-col>

                          <b-col cols="12">

                            <!-- Edit provider collapse -->
                            <b-collapse :id="`edit-provider-collapse-${provider.id}`" v-model="provider.editing"
                              accordion="providers" class="mt-1"
                              @shown="focusArrayRef(&apos;editProviderNameRef' + provider.id + '&apos;)">
                              <b-form>

                                <b-form-group label="Name:" label-class="text-sm-right" label-for="name" horizontal
                                  :description="`Enter a new name for ${provider.name}`"
                                  invalid-feedback="This field is required">
                                  <b-form-input :id="`provider-name-${provider.id}`"
                                    :ref="'editProviderNameRef' + provider.id" v-model="provider.newName" type="text"
                                    :placeholder="`New name for ${provider.name}`"></b-form-input>
                                </b-form-group>

                                <b-button class="ml-1 float-right"
                                  :disabled="!provider.newName || (provider.newName === provider.name)"
                                  variant="primary" @click="updateProvider(provider)">
                                  Set Name
                                </b-button>

                              </b-form>
                            </b-collapse>

                            <!-- Delete provider collapse -->
                            <b-collapse :id="`delete-provider-collapse-${provider.id}`" v-model="provider.deleting"
                              accordion="providers" class="mt-1">
                              <b-alert show variant="danger">
                                Are you sure to delete {{provider.name}}?
                                <div class="text-right">
                                  <b-button variant="secondary" @click="provider.deleting=false">
                                    No
                                  </b-button>
                                  <b-button variant="primary" @click="deleteProvider(provider.id)">
                                    Yes
                                  </b-button>
                                </div>
                              </b-alert>
                            </b-collapse>

                          </b-col>

                        </b-form-row>
                      </b-list-group-item>

                    </b-list-group>
                  </b-card>
                </b-col>
              </b-form-row>

            </b-form-group>

          </b-col>
        </b-form-row>
      </b-form>

    </b-modal>

    <!-- Edit client dialog -->
    <b-modal v-model="editClientDialogVisible" size="lg" title="Edit Client" header-border-variant="warning" centered
      @shown="focusRef($refs.nameRef)" @ok="updateClient" ref="editClientDialog">

      <!-- <client-form></client-form> -->

      <b-form id="client-form">
        <b-form-row align-h="center">
          <b-col cols="11">
            <b-form-group horizontal label="Name:" :state="nameState" :invalid-feedback="nameInvalidFeedback"
              label-class="text-sm-right" label-for="name">
              <b-form-input id="name" :state="nameState" v-model.trim="model.client.name" ref="nameRef"
                placeholder="Client name"></b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Email:" :state="emailState" :invalid-feedback="emailInvalidFeedback"
              label-class="text-sm-right" label-for="email">
              <b-form-input id="email" :state="emailState" v-model.trim="model.client.email" placeholder="Client email">
              </b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Phone:" label-class="text-sm-right" label-for="phone">
              <b-form-input id="phone" v-model="clientPhone" :formatter="formatPhone" placeholder="Client phone">
              </b-form-input>
            </b-form-group>

            <b-form-group horizontal label="Providers:" label-class="text-sm-right" label-for="phone">
              <b-form-row>
                <b-col cols="8" style="padding-right: 0.25em">
                  <b-form-input id="providers" v-model="model.providersStr" readonly></b-form-input>
                </b-col>
                <b-col cols="4" style="padding-left: 0">
                  <b-button id="new-provider-button-collapse" v-b-toggle.new-provider-collapse block variant="success"
                    :pressed="newProviderVisible">
                    <i v-if="!newProviderVisible" class="fas fa-plus"></i>
                    <i v-else class="fas fa-minus"></i>
                    New Provider
                  </b-button>
                </b-col>
                <b-col cols="12">
                  <b-collapse id="new-provider-collapse" v-model="newProviderVisible" class="mt-1"
                    @shown="focusRef($refs.newProviderRef)">
                    <b-card>
                      <b-form>
                        <b-form-group label="Name:" label-cols=2 label-class="text-sm-right" label-for="name" horizontal
                          description="Enter a name for the new provider" invalid-feedback="This field is required">
                          <b-form-input id="name" v-model="newProviderName" ref="newProviderRef" type="text"
                            placeholder="New provider name"></b-form-input>
                        </b-form-group>
                        <b-button class="ml-1 float-right" :disabled="!newProviderName" variant="primary"
                          @click="addProvider">
                          Add Provider
                        </b-button>
                      </b-form>
                    </b-card>
                  </b-collapse>
                </b-col>

                <!-- Providers list -->
                <b-col cols="8" class="mt-1" style="padding-right: 0.25em">
                  <b-card no-body>

                    <b-list-group class="mt-1" flush>

                      <b-list-group-item v-for="(provider, index) in model.providers" :key="provider.id">
                        <b-form-row>

                          <!-- Checkbox -->
                          <b-col class="align-self-center" block>
                            <b-form-checkbox :id="`checkbox${provider.id}`" v-show="!provider.editing"
                              :value="provider.id" v-model="selectedProviders">
                              {{provider.name}}
                            </b-form-checkbox>
                          </b-col>

                          <!-- Toggle buttons -->
                          <b-col class="text-right col-auto">

                            <!-- Edit provider button -->
                            <b-button v-b-tooltip.hover title="Edit this provider" class="my-0" variant="warning"
                              :pressed="provider.editing" v-b-toggle="`edit-provider-collapse-${provider.id}`">
                              <i class="far fa-edit"></i>
                            </b-button>

                            <!-- Delete provider button -->
                            <b-button v-b-tooltip.hover title="Delete this provider" class="my-0" variant="danger"
                              :pressed="provider.deleting" v-b-toggle="`delete-provider-collapse-${provider.id}`">
                              <i class="far fa-trash-alt"></i>
                            </b-button>

                          </b-col>

                          <b-col cols="12">

                            <!-- Edit provider collapse -->
                            <b-collapse :id="`edit-provider-collapse-${provider.id}`" v-model="provider.editing"
                              accordion="providers" class="mt-1"
                              @shown="focusArrayRef(&apos;editProviderNameRef' + provider.id + '&apos;)">
                              <b-form>

                                <b-form-group label="Name:" label-class="text-sm-right" label-for="name" horizontal
                                  :description="`Enter a new name for ${provider.name}`"
                                  invalid-feedback="This field is required">
                                  <b-form-input :id="`provider-name-${provider.id}`"
                                    :ref="'editProviderNameRef' + provider.id" v-model="provider.newName" type="text"
                                    :placeholder="`New name for ${provider.name}`"></b-form-input>
                                </b-form-group>

                                <b-button class="ml-1 float-right"
                                  :disabled="!provider.newName || (provider.newName === provider.name)"
                                  variant="primary" @click="updateProvider(provider)">
                                  Set Name
                                </b-button>

                              </b-form>
                            </b-collapse>

                            <!-- Delete provider collapse -->
                            <b-collapse :id="`delete-provider-collapse-${provider.id}`" v-model="provider.deleting"
                              accordion="providers" class="mt-1">
                              <b-alert show variant="danger">
                                Are you sure to delete {{provider.name}}?
                                <div class="text-right">
                                  <b-button variant="secondary" @click="provider.deleting=false">
                                    No
                                  </b-button>
                                  <b-button variant="primary" @click="deleteProvider(provider.id)">
                                    Yes
                                  </b-button>
                                </div>
                              </b-alert>
                            </b-collapse>

                          </b-col>

                        </b-form-row>
                      </b-list-group-item>

                    </b-list-group>
                  </b-card>
                </b-col>
              </b-form-row>
            </b-form-group>

          </b-col>
        </b-form-row>
      </b-form>

      <div slot="modal-footer" class="w-100">
        <b-row>
          <b-col>
            <b-form inline>
              <b-button variant="danger" v-b-toggle.delete-client-collapse :pressed="clientDeleting">
                Delete Client
              </b-button>
              <!-- Delete client collapse -->
              <b-collapse id="delete-client-collapse" v-model="clientDeleting" class="mt-2 ml-sm-2">
                <b-alert show variant="danger">
                  Are you sure to delete {{model.client.name}}?
                  <div class="text-right">
                    <b-button variant="secondary" @click="clientDeleting=false">
                      No
                    </b-button>
                    <b-button variant="primary" @click="deleteClient(model.clientId)">
                      Yes
                    </b-button>
                  </div>
                </b-alert>
              </b-collapse>
          </b-col>
          <b-col cols="5" class="align-self-center">
            <b-button class="float-right m-0" variant="primary" @click="updateClient">
              Save Client
            </b-button>

            <b-button class="float-right m-0" variant="secondary" @click="editClientDialogVisible=false">
              Cancel
            </b-button>
          </b-col>
        </b-row>
        </b-form>
      </div>
    </b-modal>

    <!-- Delete client confirm dialog -->
    <b-modal id="delete-client-confirm-dialog" title="Delete Client" centered header-border-variant="danger"
      cancel-title="No" ok-title="Yes" @ok="deleteClient(model.clientId)">
      <!-- model.client is set in the table's @row-clicked="rowClicked" handler -->
      Are you sure to delete {{model.client.name}}?
    </b-modal>

  </div>

  <script src="./vue.js"></script>
</body>

</html>